.MicroButtonBlue {
    background-color: rgb(68, 133, 238);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.MicroButtonRed {
    background-color: rgb(240, 86, 86);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.micro {
    width: 40px;
    height: 40px;
}
